#new-grid .mat-header-row
    border-bottom-width: 0px
    height: 40px
    min-height: 40px
    max-height: 40px

#new-grid .mat-header-cell
    border-bottom: unset
    word-break: break-all
    color: rgb(230, 230, 233)

#new-grid .mat-header-cell:first-of-type
    padding-left: 0px

#new-grid .mat-header-cell:last-of-type
    padding-right: 0px

#new-grid .mat-row
    height: 40px
    max-height: 40px
    min-height: 40px
    box-sizing: border-box
#new-grid .mat-row:not(.group-row):hover>td
    background: #F6FAFF 

#new-grid .mat-cell
    height: 40px
    max-height: 40px
    min-height: 40px
    background-color: white
    color: #565667
    border-bottom-width: 0.5px
    border-bottom-style: solid
    border-bottom-color: #E6E6E9
    border-top-width: 0.5px
    border-top-style: solid
    border-top-color: #E6E6E9

#new-grid .mat-cell:first-of-type
    padding-left: 0px
#new-grid .mat-cell:last-of-type
    padding-right: 0px

#new-grid .mat-column-groupHeader
    border-top-width: 0px
    border-bottom-width: 0px
    border-right: unset
    padding-left: 12px !important
    font-style: normal
    font-weight: 500
    font-size: 13px
    line-height: 15px

    /////S
#new-grid .selected > td
    background: #D6EAFF !important

#new-grid .light-green
    background: lightgreen
#new-grid .selected .light-green
    background: transparent
#new-grid .mat-row:hover .light-green
    background: transparent

#new-grid .max-min-cell
    background: linear-gradient(to left, white, red)