.example-container
    height: 400px
    width: 550px
    overflow: auto

.mat-table
    width: 600px
.mat-header-row
    background-color: #676779
    color: rgb(230, 230, 233)

.mat-header-cell
    border-right: 1px solid rgb(120, 120, 136)
    word-break: break-all

.mat-header-cell:first-of-type
    padding-left: 0px

.mat-cell
    border-right: 1px solid rgb(120, 120, 136)

.mat-cell:first-of-type
    padding-left: 0px
