<div class="example-container" *ngIf="$gridMetaData | async as gridMetaData">
  <mat-table [dataSource]="$dataSource | async">
    <ng-container *ngIf="gridMetaData.$columnMetaData | async as columnMetaData">
      <ng-container *ngFor="let kvp of columnMetaData | keyvalue">
        <ng-container matColumnDef="{{kvp.key}}" [sticky]="kvp.value.$isSticky | async"
          *ngIf="kvp.value.$width | async as width">
          <mat-header-cell *matHeaderCellDef> {{kvp.value.friendlyname}} </mat-header-cell>
          <mat-cell *matCellDef="let el"> {{el[kvp.key]}} </mat-cell>
          <!-- [ngStyle]="{'min-width': '100px', 'max-width': '100px'}" -->
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="gridMetaData.$displayedColumns | async as displayedColumns">
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </ng-container>
  </mat-table>
</div>